/*
-----------------------
    @imported Fonts
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
-----------------------
 */

 :root {
    --color-primary: #3dbb9f;
    --color-primary-dark: #30947f;
    --color-primary-light: #57c8b0;
 
    --color-dark-1: #747474;
    --color-dark-2: #949494;
    --color-dark-3: #ababab;
 
    --color-light-1: #e8e8e8;
    --color-light-2: #dedede;
    --color-light-3: #ebebeb;
 
    --dark-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
 }